@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/woff2/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/woff/WorkSans-Regular.woff') format('woff'),
        url('../fonts/ttf/WorkSans-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/woff2/WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/woff/WorkSans-Bold.woff') format('woff'),
        url('../fonts/ttf/WorkSans-Bold.ttf') format('ttf');
    font-weight: 700;
}

/* GRID */
.big-container {
    max-width: 1755px;
    width: 100%;
}

.box-container .img-responsive {
    display: block;
	width: 100%;
    max-width: 100%;
	height: auto;
}

.box-container .box-column  {
    position: relative;
}

.box-container .box-image {
    width: 100%;
    margin: 15px 0 0;
}

.box-container .box-image .image {
    background-color: #E9E9E9;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.075);
            box-shadow: 0 1px 5px rgba(0,0,0,0.075);
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
}

.box-container .box-image .image {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.125) inset;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.125) inset;
}

.box-container .box-image .image:hover {
    background-color: #111;
    -webkit-box-shadow: 0 0 0 20px #000 inset, 0 0 0 1px rgba(0,0,0,0.125) inset;
            box-shadow: 0 0 0 20px #000 inset, 0 0 0 1px rgba(0,0,0,0.125) inset;
}

.box-container .box-image .image img {
    opacity: .35;
}

.box-container .box-image .image figcaption {
    position: absolute;
    top: 47.5%;
    left: 50%;
    -webkit-transform: translate(-47.5%, -50%) scale(1);
            transform: translate(-47.5%, -50%) scale(1);
    opacity: 0;
    text-align: center;
}

.box-container .box-image .image figcaption h4 {
    color: #EEE;
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.box-container .box-image .image figcaption dl {
    margin-bottom: 0;
}

.box-container .box-image .image figcaption dl dd {
    margin-bottom: 6px;
    text-align: left;
}

.box-container .box-image .image figcaption dl dd:last-child {
    margin-bottom: 0;
}

.box-container .box-image .image figcaption dl dt,
.box-container .box-image .image figcaption dl dd {
    color: #FAFAFA;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.box-container .box-image .image:hover figcaption {
    opacity: 1;
    -webkit-animation-name: image-figcaption;
    animation-name: image-figcaption;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@media(min-width: 992px) and (max-width: 1199px) {
    .box-container .box-image .image figcaption {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .box-container .box-image .image {
        background-color: #111;
        -webkit-box-shadow: 0 0 0 20px #111 inset;
                box-shadow: 0 0 0 20px #111 inset;
    }

    .box-container .box-image .image figcaption {
        opacity: 1;
        -webkit-animation-name: image-figcaption;
        animation-name: image-figcaption;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }
}

/* BASE STYLES */

html {
    font-size: 62.5%;
}

/* LINKS */

a {
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

h3 a {
    color: #611;
}

h3 a:hover {
    color: #311;
}

/* FIXED CONTAINER */

.fixed-container {
    min-height: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #FFF;
}

.fixed-container-box-shadow {
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
            box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

/* RELATIVE CONTAINER */

.fixed-container .relative-container {
    position: relative;
    height: 95%;
    text-align: center;
    top: 0;
}

.fixed-container .relative-container .fly-pig-container {
    height: 100%;
    width: 100%;
}

.fixed-container .relative-container .fly-pig-container .fly-pig {
    height: 100%;
    width: 90%;
    position: relative;
}

/* MENU-CONTAINER */

.menu-container {
    border-left: 10px solid #911;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    z-index: 10;
    -webkit-animation-name: menu-container;
    animation-name: menu-container;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    display: none;
}

.menu-container-disappear {
    -webkit-animation-name: menu-container-reverse;
    animation-name: menu-container-reverse;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.menu-container .nav-menu {
    position: relative;
    height: 100%;
}

.menu-container .nav-menu .menu-list {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.menu-container .nav-menu .menu-list > li {
    padding: 30px 15px 30px 50px;
    -webkit-animation-name: menu-list;
    animation-name: menu-list;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.menu-container .nav-menu .menu-list > .menu-list-disappear {
    -webkit-animation-name: menu-list-reverse;
    animation-name: menu-list-reverse;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
}

.menu-container .nav-menu .menu-list > li:nth-child(1) {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}
.menu-container .nav-menu .menu-list > li:nth-child(2) {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.menu-container .nav-menu .menu-list > li:nth-child(3) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
.menu-container .nav-menu .menu-list > li:nth-child(4) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.menu-container .nav-menu .menu-list > li:nth-child(5) {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}
.menu-container .nav-menu .menu-list > li:nth-child(6) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.menu-container .nav-menu .menu-list > li a {
    font-size: 2.4rem;
    font-weight: 700;
}

@media (min-width: 767px) {
    .menu-container {
        width: 20%;
    }
}

@media (min-width: 992px) {
    .box-container .box-image .image figcaption h4 {
        font-size: 3.6rem;
        text-shadow: 0 0 16px rgba(0,0,0,0.5), 0 4px 1px #111;
    }

    .contact .body-social-media ul li {
        margin-left: 20px;
        margin-right: 20px;
    }

    .box-container .box-image {
        margin-top: 30px;
    }
}

@media (max-height: 600px) {
    .menu-container .nav-menu .menu-list {
        top: 0;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

/* CLOSE AND MENU TRIGGER */

.menu-container .close-trigger,
.menu-trigger {
    height: 15%;
    top: 0;
    left: 0;
}

.menu-container .close-trigger {
    position: absolute;
}

.menu-trigger {
    border-left: 10px solid #911;
    -webkit-animation-name: menu-list;
    animation-name: menu-list;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    z-index: 10;
}

.close-trigger button,
.menu-trigger button {
    height: 95%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-left: 20px;
    padding-top: 12.5px;
}

.close-trigger button {
    color: #000;
}

/* MENU FOCUS */
.focus {
    position: fixed;
    background: #222222;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, from(#222222),to(#333333));
    background: linear-gradient(to bottom, #222222 0%,#333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#333333',GradientType=0 );
    -webkit-box-shadow: 0 -10px 20px rgba(0,0,0,0.5);
            box-shadow: 0 -10px 20px rgba(0,0,0,0.5);
    border-left: 10px solid transparent;
    z-index: 30;
}

.focus .nav-menu {
    height: 85%;
    top: 15%;
    margin-top: 15%;
}

.focus .nav-menu .menu-list > li {
    padding-left: 60px;
}

.focus .nav-menu .menu-list > li:nth-child(6) {
    padding-bottom: 60px;
}

.focus .nav-menu .menu-list > li a {
    color: #FFF;
    text-shadow: 0 1px 5px rgba(0,0,0,0.125);
}

.focus .nav-menu .menu-list > li a:focus,
.focus .nav-menu .menu-list > li a:hover,
.focus .nav-menu .menu-list > li a:active {
    color: #EEE;
}

/* CONTENT */

.content {
    position: absolute;
    top: 100%;
    background-color: #FFF;
    width: 100%;
}

.content section {
    margin: 100px auto 100px;
    padding: 50px 0 75px;
    text-align: center;
}

.content section:nth-child(2n-1) {
    background-color: #FAFAFA;
    -webkit-box-shadow: 0 -50px 100px #FAFAFA, 0 50px 100px #FAFAFA;
            box-shadow: 0 -50px 100px #FAFAFA, 0 50px 100px #FAFAFA;
}

.content section:last-child {
    margin-bottom: 0;
}

.nav-pills > li {
    float: none;
    display: inline-block;
    margin-bottom: 5px;
}

.nav-pills > li > a {
    font-size: 85%;
    padding: 5px 10px;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: #E9E9E9;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:active {
    color: #FFF;
}

.nav-pills > li + li {
    margin-left: 10px;
}

.big-nav-pills {
    display: inline-block;
    margin: 0 auto;
}

.dt-box h4 {
    color: #311;
}
/* Service */
.service .ps-article {
    text-align: left;
    padding: 20px;
}

.service .ps-article p:last-child,
.service .ps-article ul:last-child {
    margin-bottom: 0;
}

.service .ps-article .page-header {
    margin-top: 0;
}

/* Clients */
/* feature-films-tv */
.feature-films-tv .dt-box {
    padding: 0 20px;
}

/* Directors */
.content .directors {
    background-color: #FDD;
    -webkit-box-shadow: 0 0px 50px 25px #FDD, 0 0px 50px 25px #FDD;
    box-shadow: 0 0px 50px 25px #FDD, 0 0px 50px 25px #FDD;
    padding-bottom: 125px;
}

.content .directors .jumbotron .h1 {
    color: #611;
}

/* Contact */
.contact h3 {
    color: #BBB;
}

.content .contact {
    padding-bottom: 0;
}

.contact h2 {
    background: #222;
    text-shadow: 0px 2px 5px #000;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

.contact h2 a {
    color: #AAA;
}

.contact h2 a:hover,
.contact h2 a:focus,
.contact h2 a:active {
    color: #EEE;
}

.contact .body-contact {
    background-color: #111;
    text-shadow: 0px 2px 5px #000;
    color: #FFF;
    padding-bottom: 40px;
}

.contact .body-social-media {
    background-color: #090909;
    padding: 12px 0 10px;
}

.contact .body-social-media ul {
    margin-bottom: 0;
}

.contact .body-social-media ul li a svg path,
.contact .body-social-media ul li a svg polygon {
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.contact .body-social-media ul li a:hover svg path,
.contact .body-social-media ul li a:hover svg polygon,
.contact .body-social-media ul li a:focus svg path,
.contact .body-social-media ul li a:focus svg polygon,
.contact .body-social-media ul li a:active svg path,
.contact .body-social-media ul li a:active svg polygon {
    fill: #911;
}


/* FOOTER */

.footer .footer-footer {
    background-color: #000;
    color: #999;
    padding-top: 15px;
    padding-bottom: 18px;
    font-size: 1.2rem;
}

.footer .footer-footer a {
    color: #EEE;
}

.footer .footer-footer a:hover,
.footer .footer-footer a:focus,
.footer .footer-footer a:active {
    color: #FFF;
}

/* BLACK-OUT */

.black-out {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 20;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
    -webkit-animation-name: black-out;
    animation-name: black-out;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

/* ANIMATIONS */
.fade-in-top {
    -webkit-animation-name: fade-in-top;
    animation-name: fade-in-top;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.zoom-fade-in {
    -webkit-animation-name: zoom-fade-in;
    animation-name: zoom-fade-in;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes menu-list {
	0% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
	100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@keyframes menu-list {
    0% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
	100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@-webkit-keyframes menu-list-reverse {
	0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
}

@keyframes menu-list-reverse {
	0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
}

@-webkit-keyframes menu-container {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@keyframes menu-container {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@-webkit-keyframes menu-container-reverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
}

@keyframes menu-container-reverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
}

@-webkit-keyframes black-out {
	0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	100% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	}
}

@keyframes black-out {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	100% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	}
}

@-webkit-keyframes fade-in-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
                transform: translateY(40px);
	}
	100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
	}
}

@keyframes fade-in-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
                transform: translateY(40px);
	}
	100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
	}
}

@-webkit-keyframes zoom-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
	}
	100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
	}
}

@keyframes zoom-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
	}
	100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
	}
}

@-webkit-keyframes image-figcaption {
    0% {
        -webkit-transform: translate(-47.5%, -50%) scale(2);
                transform: translate(-47.5%, -50%) scale(2);
        opacity: 0;
	}
	100% {
        -webkit-transform: translate(-47.5%, -50%) scale(1);
                transform: translate(-47.5%, -50%) scale(1);
        opacity: 1;
	}
}

@keyframes image-figcaption {
    0% {
        -webkit-transform: translate(-47.5%, -50%) scale(2);
                transform: translate(-47.5%, -50%) scale(2);
        opacity: 0;
	}
	100% {
        -webkit-transform: translate(-47.5%, -50%) scale(1);
                transform: translate(-47.5%, -50%) scale(1);
        opacity: 1;
	}
}
