<div class="fixed-container" id="fixed-container">
    <div class="relative-container">
        <div class="fly-pig">
            <img src="{{ BASE_URL }}assets/img/pig.svg" title="Utopia Films" alt="Utopia Films"/>
        </div>
    </div>
</div>
