<div class="fixed-container" id="fixed-container">
    <div class="relative-container">
        <div class="fly-pig-container" id="fly-pig-container">
            <div class="fly-pig">
                <div class="fly-pig-fly">
                    <img src="{{ BASE_URL }}assets/img/pig.svg"/>
                </div>
            </div>
        </div>
    </div>
</div>
