<div class="fixed-container fixed-container-box-shadow" id="fixed-container">
    <div class="relative-container">
        <div class="fly-pig-container" id="fly-pig-container">
            {% include 'Header/pig.svg.html.twig' %}
        </div>
    </div>
</div>
