<footer class="footer">
    <div class="footer-footer">
        <div class="container">

            <div class="row">
                <div class="col-sm-4 col-xs-6 text-left">
                    <p class="text-muted">&copy Utopia Films all rights reserved.</p>
                    <p class="text-muted"><a title="Source code of the site on GitHub" href="https://github.com/glauberm/utopia-films" target="_blank">Code</a> by <a title="Author's page on GitHub" href="https://github.com/glauberm" target="_blank">Glauber Mota</a></p>
                </div>
                <div class="col-sm-4 col-sm-push-4 col-xs-6 text-right body-social-media">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/Utopia-Films-Brazil-488034017921914/" target="_blank" title="Facebook">
                                {% include 'Footer/facebook.svg.html.twig' %}
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/utopiafilms" target="_blank" title="Vimeo">
                                {% include 'Footer/vimeo.svg.html.twig' %}
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/utopiafilmsbrazil/" target="_blank" title="Instagram">
                                {% include 'Footer/instagram.svg.html.twig' %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-sm-pull-4 col-xs-12 text-center">
                    <a href="http://www.productionservicenetwork.com/" target="_blank" class="psn-logo" title="Production Service Network">
                        {% include 'Footer/psn.svg.html.twig' %}
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>
