<header>

    {% block fixed %}
        {% include 'Header/fixed-container.html.twig' %}
    {% endblock %}

    {% block menuTrigger %}
        {% include 'MenuTrigger/menu-trigger.html.twig' %}
    {% endblock %}

    {% block menu %}
        {% include 'Header/menu-container.html.twig' %}
    {% endblock %}

    <div id="black-out" class="black-out hidden"></div>
</header>
