{% extends 'base.html.twig' %}

{% set bodyClass = 'body-directors' %}

{% block main %}
    <section class="directors">
        <div class="container">
            <header>
                <h2 class="h1 page-header text-center"><a href="#directors" id="directors">Directors</a></h2>
            </header>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h3 class="h1">Pink Monkey</h3>
                <p>Coming Soon</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script> scrollToTrigger( $("#directors") ); </script>
{% endblock %}
