{% extends 'base.html.twig' %}

{% set title = 'Directors' %}
{% set bodyClass = 'body-directors' %}

{% block main %}
    <section class="directors">
        <div class="container">
            <header>
                <h1 class="page-header text-center" id="directors">
                    Directors
                </h1>
            </header>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h2 class="h1">Pink Monkey</h2>
                <p>Coming Soon</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block postJavascripts %}
    <script>$(document).ready(function() { scrollToTrigger($("#directors")); }); </script>
{% endblock %}
