/* BASE STYLES */
html {
    font-size: 62.5%;
}

/* LINKS */
a {
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

/* GRID */
.big-container {
    max-width: 1755px;
    width: 100%;
}

.box-container .img-responsive {
    display: block;
	width: 100%;
    max-width: 100%;
	height: auto;
}

.box-container .box-column  {
    position: relative;
}

.box-container .box-image {
    width: 100%;
    margin: 15px 0 0;
}

.box-container .box-image .image {
    background-color: #E9E9E9;
    height: 100%;
    min-height: 104px;
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.box-container .box-image a:hover .image,
.box-container .box-image a:focus .image,
.box-container .box-image a:active .image {
    background-color: #111;
}

.box-container .box-image .image img {
    opacity: .35;
}

.box-container .box-image .image figcaption {
    position: absolute;
    top: 47.5%;
    left: 0;
    -webkit-transform: translate(0, -47.5%) scale(1);
        -ms-transform: translate(0, -47.5%) scale(1);
        transform: translate(0, -47.5%) scale(1);
    opacity: 0;
    width: 100%;
}

.box-container .box-image .image figcaption .h4 {
    color: #EEE;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.box-container .box-image .image figcaption dl {
    margin-bottom: 0;
}

.box-container .box-image .image figcaption dl dt,
.box-container .box-image .image figcaption dl dd {
    color: #FAFAFA;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.box-container .box-image .image figcaption dl dt {
    text-align: left;
}

.box-container .box-image .image figcaption dl dd {
    margin-bottom: 6px;
    text-align: left;
    font-size: 80%;
    position: relative;
    top: 3.333px;
}

.box-container .box-image .image figcaption dl dd:last-child {
    margin-bottom: 0;
}

.box-container .box-image a:hover .image figcaption,
.box-container .box-image a:focus .image figcaption,
.box-container .box-image a:active .image figcaption {
    opacity: 1;
    -webkit-animation-name: image-figcaption;
    animation-name: image-figcaption;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

/* FIXED CONTAINER */
.fixed-container {
    min-height: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #FFF;
    -webkit-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
}

.fixed-container-box-shadow {
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
            box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

/* RELATIVE CONTAINER */
.fixed-container .relative-container {
    position: relative;
    height: 95%;
    text-align: center;
    top: 0;
}

.fixed-container .relative-container .fly-pig-container {
    height: 100%;
    width: 100%;
}

.fixed-container .relative-container .fly-pig-container .fly-pig {
    height: 90%;
    width: 90%;
    position: relative;
    top: 5%;
}


/* CLOSE AND MENU TRIGGER */
.menu-container .close-trigger,
.menu-trigger {
    height: 15%;
    top: 0;
    left: 10px;
}

.menu-container .close-trigger {
    position: absolute;
}

.menu-trigger {
    z-index: 20;
}

.close-trigger button,
.menu-trigger button {
    height: 95%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding-top: 12.5px;
    color: #111;
}

.close-trigger button:hover svg path,
.menu-trigger button:hover svg path {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.close-trigger button:hover svg path,
.menu-trigger button:hover svg path,
.close-trigger button:focus svg path,
.menu-trigger button:focus svg path,
.close-trigger button:active svg path,
.menu-trigger button:active svg path {
    fill: #900;
}


/* MENU-CONTAINER */
.menu-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    z-index: 20;
    -webkit-animation-name: menu-container;
    animation-name: menu-container;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    display: none
}

.menu-container-disappear {
    -webkit-animation-name: menu-container-reverse;
    animation-name: menu-container-reverse;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.menu-container .nav-menu {
    position: relative;
    height: 60%;
    top: 15%;
    margin-top: 15%;
}

.menu-container .nav-menu .menu-list {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.menu-container .nav-menu .menu-list > li {
    padding: 0 15px 0 50px;
    -webkit-animation-name: menu-list;
    animation-name: menu-list;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.menu-container .nav-menu .menu-list > .menu-list-disappear {
    -webkit-animation-name: menu-list-reverse;
    animation-name: menu-list-reverse;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
        transform: translateX(-75%);
}

.menu-container .nav-menu .menu-list > li:nth-child(1) {
    -webkit-animation-duration: 0.35s;
    animation-duration: 0.35s;
}
.menu-container .nav-menu .menu-list > li:nth-child(2) {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.menu-container .nav-menu .menu-list > li:nth-child(3) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
.menu-container .nav-menu .menu-list > li:nth-child(4) {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.menu-container .nav-menu .menu-list > li:nth-child(5) {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}
.menu-container .nav-menu .menu-list > li:nth-child(6) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    padding-bottom: 60px;
}

.menu-container .nav-menu .menu-list > li a {
    font-size: 3.0rem;
    font-weight: bold;
    color: #AAA;
    text-transform: uppercase;
}

.menu-container .nav-menu .menu-list > li a:hover,
.menu-container .nav-menu .menu-list > li a:focus,
.menu-container .nav-menu .menu-list > li a:active {
    color: #111;
}

/* MENU FOCUS */
.focus {
    position: fixed;
    background: #333333;
    -webkit-box-shadow: 0 -10px 20px rgba(0,0,0,0.5);
            box-shadow: 0 -10px 20px rgba(0,0,0,0.5);
    z-index: 40;
}

.focus .nav-menu .menu-list > li a {
    color: #BBB;
    text-shadow: 0 1px 5px rgba(0,0,0,0.125);
}

.focus .nav-menu .menu-list > li a:focus,
.focus .nav-menu .menu-list > li a:hover,
.focus .nav-menu .menu-list > li a:active {
    color: #EEE;
}

/* CONTENT */
.content {
    background-color: #FFF;
    position: absolute;
    top: 100%;
    width: 100%;
}

.content section {
    text-align: center;
}

.content section h1,
.content section .h1 {
    text-transform: uppercase;
    color: #333;
}

.content section h1 a,
.content section .h1 a {
    color: #333;
}

.content section h1 a:hover,
.content section .h1 a:hover,
.content section h1 a:focus,
.content section .h1 a:focus,
.content section h1 a:active,
.content section .h1 a:active {
    color: #111;
}

.content section:last-child {
    margin-bottom: 0;
}

.nav-pills > li {
    float: none;
    display: inline-block;
    margin-bottom: 5px;
}

.nav-pills > li > a {
    font-size: 85%;
    padding: 5px 10px;
    color: #333;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    border: 1px solid #E9E9E9;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:active {
    color: #FFF;
    background-color: #333;
    border: 1px solid #333;
}

.nav-pills > li + li {
    margin-left: 10px;
}

.big-nav-pills {
    display: inline-block;
    margin: 0 auto;
}

.jumbotron p {
    font-weight: 400;
}

/* Work */
.work {
    margin: 0;
    font-size: 0;
}

/* Service */
.service .ps-article {
    text-align: left;
    padding: 20px;
}

.service .ps-article .h4 {
    color: #AAA;
}

.service .ps-article p:last-child,
.service .ps-article ul:last-child,
.service .ps-article dl:last-child {
    margin-bottom: 0;
}

/* Clients */
.clients .h3 {
    color: #AAA;
}

.clients .titulo {
    visibility: hidden;
    margin: 0;
}

.feature-films {
    margin-top: 12px;
}

.w-border-r .h4 {
    text-transform: uppercase;
}

/* Directors */
.body-directors,
.body-directors .content {
    background-color: #FDD;
}

.body-directors .fixed-container-box-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.body-directors .content .jumbotron .h1 {
    font-family: Impact, Charcoal, fantasy;
    font-weight: 400;
    text-transform: uppercase;
    color: #611;
}

/* Locations */
.locations .h3 {
    color: #AAA;
}

.locations .titulo {
    visibility: hidden;
    margin: 0;
}

.slick-carousel-wrapper {
    position: relative;
}

.slick-carousel {
    z-index: 0;
}

.slick-carousel-mask {
    position: absolute;
    z-index: 1;
    height: calc(100% - 50px);
    width: 100%;
    display: none;
}

.slick-carousel figure {
    position: relative;
}

.slick-carousel figure img {
    width: 100%;
}

.slick-carousel figure figcaption {
    position: absolute;
    text-shadow: 0 2px 5px rgba(0,0,0,0.25);
    width: 100%;
    color: #FFF;
    bottom: 0;
    text-align: left;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.75)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
}

.slick-carousel figure figcaption .h5 {
    padding: 20px 20px 5px;
    font-weight: normal;
}

.slick-carousel .slick-dots {
    list-style: none;
    padding: 15px 0 5px;
    margin-bottom: 0;
}

.slick-carousel .slick-dots li {
    display: inline-block;
    background-color: #858585;
    border-radius: 900px;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.slick-carousel .slick-dots .slick-active {
    background-color: #333;
}

.slick-carousel .slick-dots li+li {
    margin-left: 10px;
}

.slick-carousel .slick-dots li button {
    visibility: hidden;
}

.locations-tabs {
    margin-top: 12px;
}

/* Contact */
.contact {
    font-size: 80%;
}

.content .contact {
    padding-bottom: 0;
}

.contact h2 {
    background: transparent;
    text-shadow: 0 2px 5px #222;
    margin-top: 0;
    margin-bottom: 0;
}

.contact h2 a {
    color: #AAA;
}

.contact h2 a:hover,
.contact h2 a:focus,
.contact h2 a:active {
    color: #EEE;
}

.contact h3,
.contact .city {
    text-transform: uppercase;
}

.contact h3 {
    color: #BBB;
}

.contact .body-contact {
    background-color: #333;
    text-shadow: 0 2px 5px #222;
    color: #FFF;
    padding-bottom: 40px;
}

.contact .email-link {
    color: #FFF;
}

.contact .email-link:hover,
.contact .email-link:focus,
.contact .email-link:active {
    color: #777;
}

.wrapper-body-contact,
.wrapper-body-contact .content {
    background-color: #333;
}

.wrapper-body-contact .fixed-container-box-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wrapper-body-contact .contact > .invisible {
    visibility: visible;
}

.wrapper-body-contact .contact > .invisible h2 {
    margin: 48px 0 0;
}

.wrapper-body-contact .contact > .invisible h2 a {
    color: #DDD;
}

.wrapper-body-contact .contact > .invisible h2 a:hover,
.wrapper-body-contact .contact > .invisible h2 a:focus,
.wrapper-body-contact .contact > .invisible h2 a:active {
    color: #EEE;
}

/* Not Found */
.body-not-found,
.body-not-found .content {
    background-color: #EEE;
}

.body-not-found .fixed-container-box-shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* FOOTER */
.footer .footer-footer {
    background-color: #222;
    color: #999;
    padding-top: 15px;
    font-size: 1.2rem;
}

.footer .footer-footer a {
    color: #EEE;
}

.footer .footer-footer a:hover,
.footer .footer-footer a:focus,
.footer .footer-footer a:active {
    color: #FFF;
}

.footer .footer-footer .psn-logo .psn-purple,
.footer .footer-footer .psn-logo .psn-red {
    opacity: 0.75;
    -webkit-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.footer .footer-footer .psn-logo:hover .psn-purple,
.footer .footer-footer .psn-logo:focus .psn-purple,
.footer .footer-footer .psn-logo:active .psn-purple {
    fill: #7a62a6;
}

.footer .footer-footer .psn-logo:hover .psn-red,
.footer .footer-footer .psn-logo:focus .psn-red,
.footer .footer-footer .psn-logo:active .psn-red {
    fill: #ed523d;
}

.footer .footer-footer .body-social-media ul {
    margin-bottom: 0;
}

.footer .footer-footer .body-social-media ul li a svg path,
.footer .footer-footer .body-social-media ul li a svg polygon {
    -webkit-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.footer .footer-footer .body-social-media ul li a:hover svg path,
.footer .footer-footer .body-social-media ul li a:focus svg path,
.footer .footer-footer .body-social-media ul li a:active svg path {
    fill: #656565;
}

.footer .footer-footer .body-social-media ul li a:hover .facebook-logo path,
.footer .footer-footer .body-social-media ul li a:focus .facebook-logo path,
.footer .footer-footer .body-social-media ul li a:active .facebook-logo path {
    fill: #3b5998;
}

.footer .footer-footer .body-social-media ul li a:hover .vimeo-logo path,
.footer .footer-footer .body-social-media ul li a:focus .vimeo-logo path,
.footer .footer-footer .body-social-media ul li a:active .vimeo-logo path {
    fill: #45bbff;
}

.footer .footer-footer .body-social-media ul li a:hover .instagram-logo path,
.footer .footer-footer .body-social-media ul li a:focus .instagram-logo path,
.footer .footer-footer .body-social-media ul li a:active .instagram-logo path {
    fill: #fb3958;
}

/* BLACK-OUT */

.black-out {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 30;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
    -webkit-animation-name: black-out;
    animation-name: black-out;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

/* CHROME BORDER "FIX" */
.close-trigger button:hover,
.menu-trigger button:hover,
.close-trigger button:focus,
.menu-trigger button:focus,
.close-trigger button:active,
.menu-trigger button:active,
.menu-container .nav-menu .menu-list > li a:hover,
.menu-container .nav-menu .menu-list > li a:focus,
.menu-container .nav-menu .menu-list > li a:active {
    outline: 0 !important;
}

@media (max-width: 767px) {
    .body-directors .content .jumbotron .h1 {
        font-family: Roboto, Impact, Charcoal, fantasy;
        font-size: 7rem;
        font-weight: bold;
        letter-spacing: -3px;
    }
}

@media (min-width: 768px) {
    .menu-container {
        width: 20%;
        min-width: 267px;
    }

    .box-container .box-image .image {
        min-height: 176px;
    }

    .w-border-r {
        border-right: 1px solid #E9E9E9;
    }

    .close-trigger button,
    .menu-trigger button {
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .box-container .box-image .image {
        background-color: #111;
        -webkit-box-shadow: 0 0 0 20px #111 inset;
                box-shadow: 0 0 0 20px #111 inset;
    }

    .box-container .box-image .image figcaption {
        opacity: 1;
        -webkit-animation-name: image-figcaption;
        animation-name: image-figcaption;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
    }

    .box-container .box-image .image figcaption .h4 {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .box-container .box-image {
        margin-top: 30px;
    }

    .box-container .box-image .image {
        min-height: 232px;
    }

    .box-container .box-image .image figcaption {
        text-align: left;
        width: auto;
        padding: 0 60px;
    }

    .box-container .box-image .image figcaption .h4 {
        font-size: 3.6rem;
        text-shadow: 0 0 8px rgba(0,0,0,0.5);
    }

    .contact .body-contact .contact-box dt {
        text-align: right;
    }

    .contact .body-contact .contact-box dd {
        text-align: left;
    }

    .contact .body-social-media ul li {
        margin-left: 20px;
        margin-right: 20px;
    }

    .slick-carousel-mask {
        display: block;
    }
}

@media (max-height: 319px) {
    .close-trigger button, .menu-trigger button {
        padding-top: 5px;
    }

    .menu-container .nav-menu .menu-list > li:nth-child(1) {
        padding-top: 60px;
    }

    .menu-container .nav-menu .menu-list > li:nth-child(6) {
        padding-bottom: 15px;
    }
}

@-webkit-keyframes menu-list {
	0% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
	100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@keyframes menu-list {
    0% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
	100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@-webkit-keyframes menu-list-reverse {
	0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
}

@keyframes menu-list-reverse {
	0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
	}
}

@-webkit-keyframes menu-container {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@keyframes menu-container {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
}

@-webkit-keyframes menu-container-reverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
}

@keyframes menu-container-reverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
	}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
	}
}

@-webkit-keyframes black-out {
	0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	100% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	}
}

@keyframes black-out {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	}
	100% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	}
}

@-webkit-keyframes image-figcaption {
    0% {
        -webkit-transform: translate(0, -47.5%) scale(2);
                transform: translate(0, -47.5%) scale(2);
        opacity: 0;
	}
	100% {
        -webkit-transform: translate(0, -47.5%) scale(1);
                transform: translate(0, -47.5%) scale(1);
        opacity: 1;
	}
}

@keyframes image-figcaption {
    0% {
        -webkit-transform: translate(0, -47.5%) scale(2);
                transform: translate(0, -47.5%) scale(2);
        opacity: 0;
	}
	100% {
        -webkit-transform: translate(0, -47.5%) scale(1);
                transform: translate(0, -47.5%) scale(1);
        opacity: 1;
	}
}
