<div class="container">
    <dl>
        <div class="row">
            {% for dt in value %}
                <div class="col-sm-4 dt-box">
                    <dt itemscope itemtype="http://schema.org/Person">
                        <h3 class="h4" itemprop="name">{{ dt|raw }}</h3><br/>
                    </dt>
                </div>
                {% if loop.index % 3 == 0 and not loop.last %}</div><div class="row">{% endif %}
            {% endfor %}
        </div>
    </dl>
</div>
