{% extends 'base.html.twig' %}

{% set title = 'Not Found' %}
{% set bodyClass = 'body-not-found' %}

{% block main %}
    <section class="not-found">
        <div class="container">
            <header>
                <h1 class="page-header text-center">
                    <a href="#not-found" id="not-found">Not Found</a>
                </h1>
            </header>
            <p class="lead">We couldn't find the page you're looking for.</p>
        </div>
    </section>
{% endblock %}

{% block postJavascripts %}
    <script> scrollToTrigger($("#not-found")); </script>
{% endblock %}
