{% extends 'base.html.twig' %}

{% set title = 'Not Found' %}
{% set bodyClass = 'body-not-found' %}

{% block main %}
    <section class="not-found">
        <div class="container">
            <div class="jumbotron">
                <header>
                    <h1 class="h2">
                        <a href="#not-found" id="not-found">404</a>
                    </h1>
                </header>
                <p>We couldn't find the page you're looking for.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block postJavascripts %}
    <script> scrollToTrigger($("#not-found")); </script>
{% endblock %}
