{% extends 'base.html.twig' %}

{% set title = 'Not Found' %}
{% set bodyClass = 'body-not-found' %}

{% block main %}
    <section class="not-found">
        <div class="container">
            <div class="jumbotron text-center">
                <header><h1 id="not-found">404</h1></header>
                <p>We couldn't find the page you're looking for.</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block postJavascripts %}
    <script>$(document).ready(function() { scrollToTrigger($("#not-found")); }); </script>
{% endblock %}
