{% extends 'base.html.twig' %}

{% set title = 'Service' %}

{% block main %}
    <section class="service">
        <div class="container">
            <header>
                <h1 class="page-header text-center" id="service">
                    {{ title }}
                </h1>
            </header>
            <div class="row">
                <div class="col-sm-4">
                    {% for service in params %}

                        <article class="ps-article" itemscope itemtype="http://schema.org/Article">
                            <header>
                                <h2 class="h4" itemprop="articleSection">
                                    {{ service.title }}
                                </h2>
                            </header>
                            <div class="service-{{ loop.index }}" itemprop="articleBody">
                                {{ service.message|raw }}
                            </div>
                        </article>

                        {% if loop.index == 4 or loop.index == 7 %}</div><div class="col-sm-4">{% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postJavascripts %}
    <script> $(document).ready(function() { scrollToTrigger($("#service")); }); </script>
{% endblock %}
